# Trabalho de Conclusão de Curso - Coleta de Dados
<p style='font-size: 18px; line-height: 2'>Anderson Vasconcelos</p>

# Coletando os dados
<hr style='border: 2px solid;'>

## Importando bibliotecas

https://requests.readthedocs.io/en/master/

https://pandas.pydata.org/

https://docs.python.org/3/library/json.html

In [4]:
import requests
import json
import pandas as pd

## O Dataset
<hr>

### Fonte: https://api.loft.com.br/

### Descrição:
<p style='font-size: 18px; line-height: 2; margin: 10px 50px; text-align: justify;'>Script para coleta dos dados no site da loft para apartamentos a venda na cidade de São Paulo.</p>

### Dados:
<ul style='font-size: 18px; line-height: 2; text-align: justify;'>
    <li><b>address</b> - Endereço do imóvel</li>
    <li><b>area</b> - Área do imóvel (m²)</li>
    <li><b>balconyType</b> - Tipo de varanda</li>
    <li><b>bedrooms</b> - Quantidade de quartos</li>
    <li><b>buildingCommercialType</b> - Tipo edifício comercial</li>
    <li><b>buildingHasAirConditioning</b> - Se a construção tem ar-condicionado</li>
    <li><b>buildingHasGarage</b> - Se a construção tem estacio-namento</li>
    <li><b>contractType</b> - Tipo do contrato</li>
    <li><b>currentPhase</b> - Fase atual </li>
    <li><b>facadeQualification</b> - Qualificação da Fachada</li>
    <li><b>floor</b> - Andar do imóvel</li>
    <li><b>gatekeeperAvailability</b> - Disponibilidade do porteiro</li>
    <li><b>heatingSystem</b> - Se tem aquecedor</li>
    <li><b>id</b> - Id do registro</li>
    <li><b>image</b> - Imagem do imóvel</li>
    <li><b>image_thumbnail</b> - Miniatura da imagem do imóvel</li>
    <li><b>isMarketplace</b> - Se é mercado</li>
    <li><b>isRentable</b> - Se é alugável</li>
    <li><b>kitchenServiceAreaViewIsBlocked</b> - Se a visão da área de serviço da cozinha está bloqueada</li>
    <li><b>livingRoomViewIsBlocked</b> - Se a visão da sala de estar está bloqueada</li>
    <li><b>livingRoomViewQualification</b> - Qualificação da vista da sala de estar</li>
    <li><b>mainBedroomViewIsBlocked</b> - Se a visão do quarto principal está bloqueada</li>
    <li><b>otherBedroomsViewsAreBlocked</b> - Se a visão dos outros quartos está bloqueada</li>
    <li><b>parkingSpots</b> - Quantidade de vagas</li>
    <li><b>price</b> - Preço de venda do imóvel (R$)</li>
    <li><b>productType</b> - Tipo de produto</li>
    <li><b>propertyType</b> - Tipo de propriedade</li>
    <li><b>rentalPrice</b> - Preço de aluguel</li>
    <li><b>status</b> - Status do imóvel</li>
    <li><b>subwayShortestDistance (m)</b> - Distância mais curta do metrô</li>
    <li><b>suits</b> - Quantidade de suits</li>
    <li><b>towerHasElevator</b> - Se tem elevador</li>
    <li><b>unitHasServiceBathroom</b> - Se o imóvel tem banheiro de serviço</li>
    <li><b>unitHasServiceBedroom</b> - Se o imóvel tem quarto de ser-viço</li>
    <li><b>unitId</b> - Id da unidade</li>
</ul>

## Script de coleta dos dados

In [5]:
class ListaDeImoveis:
    
    def __init__(self, offset=0, limit=18):
        self.__offset = offset
        self.__limit = limit
    
    def __next_page(self):
        self.__offset +=18
        
    def __has_next(self):
        if(self.__offset < self.__total_pages()):
            return True
        else:
            return False
    
    def __total_pages(self) -> int:
        resposta = requests.get(
            f'''https://api.loft.com.br/listings?status=["FOR_SALE","JUST_LISTED","DEMOLITION","COMING_SOON","SOLD"]&orderBy=["rankA"]&orderByStatus='FOR_SALE', 'JUST_LISTED', 'DEMOLITION', 'COMING_SOON' , 'SOLD'&originType=LISTINGS_LOAD_MORE&offset={self.__offset}&limit={self.__limit}&excludeIds= []&limitedColumns=true&city=São Paulo''')
     
        if resposta.status_code == 200:
            return int(resposta.json()['pagination']['total'])
        else:
            return 0
    
    def __list_imoveis(self):
        resposta = requests.get(
            f'''https://api.loft.com.br/listings?status=["FOR_SALE","JUST_LISTED","DEMOLITION","COMING_SOON","SOLD"]&orderBy=["rankA"]&orderByStatus='FOR_SALE', 'JUST_LISTED', 'DEMOLITION', 'COMING_SOON' , 'SOLD'&originType=LISTINGS_LOAD_MORE&offset={self.__offset}&limit={self.__limit}&excludeIds= []&limitedColumns=true&city=São Paulo''')
        if resposta.status_code == 200:
            return resposta.json()['listings']
        else:
            return None
    
    def generate_dataset(self):
        frames = []
        while(self.__has_next()):
            frames.append(pd.DataFrame(self.__list_imoveis()))
            self.__next_page()
        return pd.concat(frames)

## Coletando e armazenado os dados

In [ ]:
lista_imoveis = ListaDeImoveis()
imoveis = lista_imoveis.generate_dataset()
imoveis.to_csv('dados/dataset_imoveis_loft_sao_paulo_23122020_135200.csv', sep='|', index=False)

## Leitura dos dados

In [7]:
imoveis = pd.read_csv('dados/dataset_imoveis_loft_sao_paulo_23122020_135200.csv', sep='|')
imoveis.head()

,address,area,balconyType,bedrooms,buildingCommercialType,buildingHasAirConditioning,buildingHasGarage,contractType,currentPhase,facadeQualification,...,productType,propertyType,rentalPrice,status,subwayShortestDistance,suits,towerHasElevator,unitHasServiceBathroom,unitHasServiceBedroom,unitId
0,"{'id': '4750', 'lat': '-23.60053000', 'lng': '...",204,NaN,3,NaN,False,False,exclusive,ready_to_move,NaN,...,market,NaN,NaN,FOR_SALE,731.276,1,False,False,False,272294
1,"{'id': '13993', 'lat': '-23.53410960', 'lng': ...",142,NaN,2,NaN,False,False,exclusive,set_up,NaN,...,select,NaN,NaN,FOR_SALE,820.737,2,False,False,False,552186
2,"{'id': '23795', 'lat': '-23.64356130', 'lng': ...",72,NaN,3,NaN,False,False,exclusive,set_up,NaN,...,select,NaN,NaN,FOR_SALE,2447.620,0,True,False,False,942879
3,"{'id': '19647', 'lat': '-23.53524520', 'lng': ...",70,NaN,2,NaN,False,False,exclusive,ready_to_move,NaN,...,market,NaN,NaN,FOR_SALE,583.255,1,True,False,False,770487
4,"{'id': '12316', 'lat': '-23.56417670', 'lng': ...",41,NaN,1,NaN,False,False,exclusive,set_up,NaN,...,select,NaN,NaN,FOR_SALE,516.081,0,True,False,False,494114